language: python

sudo: false

matrix:
    include:
        - python: 2.7
          env: TOXENV=cover
        - python: 3.5
          env: TOXENV=cover3
        - python: 3.5
          env: TOXENV=docs
        - python: 2.6
          env: TOXENV=py26
        - python: 2.7
          env: TOXENV=py27
        - python: 3.2
          env: TOXENV=py32
        - python: 3.3
          env: TOXENV=py33
        - python: 3.4
          env: TOXENV=py34
        - python: 3.5
          env: TOXENV=py35
        - python: pypy
          env: TOXENV=pypy

install:
    - travis_retry pip install tox

script:
    - travis_retry tox
