include CHANGES.txt
include COPYRIGHT.txt
include LICENSES.txt
include README.rst
include TODO.txt
include tox.ini
include supervisor/version.txt
include supervisor/skel *.conf
include supervisor/tests/fixtures *.conf
recursive-include supervisor/ui *.html *.css *.png
recursive-include docs *.rst *.css *.gif *.png
recursive-exclude docs/.build *
