.tableheader {
	color: #0000FF;
	font-weight: bold;
        text-align: left;
        background-color: lightgray;
}
.right {
	text-align: right;
	float: right;
}
.statusrunning { 
        color: green;
}

.statuserror { 
        color: red;
 }

.statusnominal {
        color: yellow;
 }

.statusmessage {
    /* Class for error indication in forms */
    background-color: lightgray;
    border: 1px dashed green;
    padding: 0em;
    margin: 0 0 0em 0;
    color: green;
    /*width: 68% !important;*/
}

